summary{
  background-color: pink;
}

#villman, #silicon, #express{
  height: 100px;
  width: 300px;
}

.row {
  display: flex;
  text-align: center;
}

.row div {
  flex: 1;
}

#brands{
  color: #8f4000;
  width: 860px;
  background-image: url('LoveNWar.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding: 20px;
}

input[type="text"] {
  opacity: 0.6;
  border: 1px solid rgb(178, 114, 19);
  color: rgb(213, 134, 6);
}


body{
  font-family: Gill Sans MT;
  background-image: url('TFmarket.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar{
  background-image: url('Nav.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  color: #8f4000;
  text-shadow: 2px 2px #484a49;
}

#buttons, #brand_btn{
  color: white;
  background-color: #161f36;
  border: 3px solid gray;
  border-radius: 20px;
  width: 300px;
  font-size: 20px;
  cursor: pointer;
}

#brand_btn{
  font-size: 15px;
  background-image: linear-gradient(to right, black, #161f36);
}

#laptop{
  height: 60px;
  width: 60px;
}

#budget{
  text-align: center;
  font-size: 25px;
  color: #072f70;
}

.footer {
  margin-top: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

b{
  background-color: gray;
}

.nav-text{
  font-size: 20px;
  color: white;
}
